# manual build
build/

src/CMakeFiles
src/CMakeFiles/*
src/cmake_install.cmake

# VSCode
.vscode/

# CLion
/.idea/
cmake-build-*/

# Generated test IR files
tests/data/**/*.ll
tests/data/**/*.bc

# misc
races.json

